*{
    font-family: 'Titillium Web', sans-serif;
}

.cma {
    width: 30vw;
    color: #ffffff;
    position: absolute;
    left: 5rem; top:5rem;
}
.container-fluid .cma h1{
    font-size:50px;
    width: 400px;
 }
 .container-fluid .cma p{
  font-size: 24px;
  width: 400px;
  margin-top: 30px;
 }
.colorText {
    color:rgb(1, 4, 43);
}
.bg {
 background-color: rgb(212, 219, 233);
}
.bg2{
    background-color:rgb(22, 65, 158) ;
    
}

.imgQuem{
    text-align: center;
    min-width: auto;
}
.colorfooter{
    background-color: rgb(22, 65, 158);
}


button{
    min-width: 70px;
    min-height: 60px;
    background-color: rgb(1, 4, 43);
    border: 1px solid rgb(1, 4, 43);
    position: relative;
  
}
.icone{
    background-color: aquamarine;
    width: 70px;
    height: 60px;
    background-image: url('./seta-esquerda.png');
}
.material-icons.color { 
    color: #ffffff; 
}
.posbutton {
   position: absolute;
   left: 1px;
   bottom: 5px;
}

.tam {
    max-width: 400px;
    min-height: 150px;
    float: right;
}
.imgProjetos{
    max-width: 28rem;
    max-height: 15rem;
   
}
.alin {
text-align: center;
}

footer img {
   
    max-width: 325px;
    max-height: 175px;
    min-width: 75px;
}
.redeslogo {
    position: absolute;
    right:6px; bottom: 6px;
}
.fonts-class{
  
   font-size: 1.2rem;
}
.expo{
    margin-top: 3rem;
}

#block-insc{
    color: black;
}
#depo{
    margin-top: 6rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    background-color: rgb(212, 219, 233);
}
#projetos{
    margin-top: 6rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
}
.exemplo-projetos-fig{
    padding-top: 10rem;
}
#faq{
    background-color: rgb(212, 219, 233);
}
.fontes-datas{
    font-size: 1.3rem;
}
